/* Reset default margin and padding */
body, h1, h2, p, nav {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
#logo {
    max-width: fit-content;
    max-height: 50px;
}

/* Navigation styles */
nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Login/Signup button styles */
.login-signup button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    margin-left: 20px;
    cursor: pointer;
}

.login-signup button:hover {
    background-color: #ddd;
}

/* Main content styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
